<h1>index.ejs</h1>

<h2>Form to test POST data and body-parser</h2>

<form action="/create" method="post">
  name: <input type="text" name="name" value=""><br>
  email: <input type="email" name="email" value=""><br>
  <input type="submit" name="" value="submit for post">
</form>
