<h1>Index Page</h1>
<h2><%= count %></h2>
<form action="/count" method="post">
  number: <input type="number" name="number" value="0" required> <br>
  <input type="submit" name="" value="+ number">
</form>
<br>
<form action="/reset" method="post">
  <input type="submit" name="" value="reset">
</form>
