
<form action="/quotes" method="post" id='quoteForm'>
Your name: <input type="text" name="name" id=""><br>
Your Quote: <input type="text" name="quote" id=""> <br>
<input type="submit" value="Submit">
</form>

<a href="/quotesShow">show all quotes</a>