<h1>Dojo Mail</h1>
<table>
  <thead>
    <th>Email</th>
    <th>Importance</th>
    <th>Subject</th>
    <th>Content</th>
  </thead>
    <tr *ngFor='let datum of data'>
      <td>{{ datum.email }}</td>
      <td *ngIf='datum.importance'>High</td>
      <td *ngIf='!datum.importance'>Low</td>
      <td>{{ datum.subject }}</td>
      <td>{{ datum.content }}</td>
    </tr>
</table>

<h1>Random Color Bar Generator</h1>

<div *ngFor='let colorbox of colorBar' [ngStyle]="{
  'background-color': colorbox
}" style="
height: 100px;
width: 100px;
display: inline-block">{{ colorbox }}</div>
