<table style='text-align:center; border: black 1px solid'>
  <tr><td colspan='4' style='border: black 1px solid'>Explore Component</td></tr>
  <tr>
    <td>
      <h1>Farm</h1>
      <p>earns 2-5 gold</p>
      <button (click)='farm()'>Farm!</button>
    </td>
    <td>
      <h1>Cave</h1>
      <p>earns 5-10 gold</p>
      <button (click)='cave()'>Cave!</button>
    </td>
    <td>
      <h1>Casino</h1>
      <p>earn or lose up to 100 gold</p>
      <button (click)='casino()'>Casino!</button>
    </td>
    <td>
      <h1>House</h1>
      <p>earns 7-15 gold</p>
      <button (click)='house()'>House!</button>
    </td>
  </tr>
</table>