<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cats!!!</title>
  </head>
  <body>
    <h2>Click em for details</h2>
    <a href="/details/jimmy"><img src="cat1.jpg" alt=""></a><br>
    <a href="/details/carl"><img src="cat2.jpg" alt=""></a><br>
    <a href="/details/lordDestroyer"><img src="cat3.jpg" alt=""></a><br>
  </body>
</html>
