<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form Page</title>
  </head>
  <body>
    <fieldset>
      <legend>Here's a **New Car** form</legend>
      <form action="#" method="post">
        Make: <input type="text" name="make" value=""><br>
        Model: <input type="text" name="model" value=""><br>
        Year: <input type="text" name="year" value=""><br>
        Color: <input type="text" name="color" value=""><br>
        Body Style: <input type="text" name="body_style" value=""><br>
        <input type="submit" name="" value="Create a Car">
      </form>
    </fieldset>
  </body>
</html>
