<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cars and Cats</title>
  </head>
  <body>
    <h1>Root Page</h1>
    <a href="cars">CARS!!!</a><br>
    <a href="cats">CATS!!!</a><br>
    <a href="cars/new">A FORM!!!!</a>
  </body>
</html>
