<form action="/mongoose/new" method="post">
    Name: <input type="text" name="name" id=""><br>
    Age: <input type="number" name="age" id=""><br>
    Can it Dance? <input type="checkbox" name="canDance" id="" value='true'>Yes <input type='checkbox' name='canDance' value='false'>No<br>
    <input type="submit" value="Submit">
</form>