<h1>FORM!!!!!!</h1>
<fieldset>
  <legend>FORM!!!!!!!</legend>
  <form action="/submit" method="post">
    Name: <input type="text" name="name" value="Name"><br>
    Dojo Location: <input type="text" name="loc" value="Location"><br>
    Favorite Language: <input type="text" name="lang" value="Java"><br>
    Comment: <input type="textarea" name="com" value="Comment...."><br>
    <input type="submit" name="" value="submit">
  </form>
</fieldset>
