<h1>RESULTS!!!!!!!!</h1>
<fieldset>
  <legend>Submitted Information</legend>
  Name: <%= content.name %><br>
  Dojo Location: <%= content.loc %><br>
  Favorite Language: <%= content.lang %><br>
  Comment: <%= content.com %>
</fieldset>
